<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- title -->
    <title>Data Collection App</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
  </head>
  <body class="min-h-screen bg-gray-50">
    <main class="min-h-screen flex flex-col items-center justify-center p-6">
      <h1 class="text-2xl font-semibold mb-8 text-gray-800">
        Data Collection App
      </h1>
      <p class="mb-8 max-w-4xl text-center text-gray-700">
        This data collection app ingests and visualizes physiological and
        emotion data. Incoming payloads are parsed, validated (valence/arousal
        in 0.0 to 5, timestamps converted to IST), and stored in SQLite via the
        HealthData and EmotionData models, with constraints to prevent exact
        duplicates.
      </p>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <a
          href="{% url 'display_data' %}"
          class="flex items-center justify-center px-6 py-2 bg-black gap-3 text-white"
        >
          View Physiological Data
        </a>
        <a
          href="{% url 'display_emotion_data' %}"
          class="flex items-center justify-center px-6 py-2 bg-black gap-3 text-white"
        >
          View Emotion Data
        </a>
        <a
          href="https://drive.google.com/file/d/1cG2epzj69THxlqTvUO25v1eI1gftVMJn/view?usp=sharing"
          class="flex items-center justify-center px-6 py-2 bg-black gap-3 text-white"
        >
          <i class="bi bi-cloud-download"></i>Android App APK
        </a>
        <a
          href="https://drive.google.com/file/d/1Eg45Ts8VAuG72yinGNmJQrBNnHJkY2D7/view?usp=sharing"
          class="flex items-center justify-center px-6 py-2 bg-black gap-3 text-white"
        >
          <i class="bi bi-cloud-download"></i>WearOS App APK
        </a>
      </div>
    </main>
  </body>
</html>
